<!-- Auther: Vineeth kumar Mudham -->

<!doctype html>
<html lang="en" xmlns:th="https://thymleaf.org">
<head>
<!-- /*  -->


<!-- Basic Page Needs
================================================== -->
<title>360Resourcing</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/colors/blue.css">

</head>
<body class="gray">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header Container
================================================== -->
		<header id="header-container"
			class="fullwidth dashboard-header not-sticky">

			<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Left Side Content -->
					<div class="left-side">

						<!-- Logo -->
						<div id="logo">
							<a href="#"><img src="../../images/360Logo.jpg" alt=""></a>
						</div>

						<!-- Main Navigation -->
						<nav id="navigation">
							<ul id="responsive">

								<li><a href="#">Manage Company</a>
									<ul class="dropdown-nav">
										<li><a th:href="@{/admin/addCompanyForm}">Add Company</a></li>
										<li><a th:href="@{/admin/CompanyList}">Company List</a></li>

									</ul></li>
								<li><a href="#">Manage Branch</a>
									<ul class="dropdown-nav">

										<li><a th:href="@{/admin/BranchList}">Branches List</a></li>
										<!-- <li><a th:href="@{/admin/browseBranches}">BrowseBranches
												List</a></li>
 -->
									</ul></li>
								<li><a href="#">Manage Clients</a>
									<ul class="dropdown-nav">
										<!-- <li><a th:href="@{/admin/clientRegister}">Register Client</a></li> -->
										<li><a th:href="@{/admin/clientList}">Client List</a></li>


										<li><a th:href="@{/admin/ecaListAll}">AssociatedList
										</a></li>


									</ul></li>




								<li><a href="#">Lists</a>
									<ul class="dropdown-nav">
										<li><a th:href="@{/admin/usersList}">Users List</a></li>

										<li><a th:href="@{/admin/EmployeesList}">Employees
												List</a></li>
										<li><a th:href="@{/admin/candidateList}"> Candidate
												List</a></li>

									</ul></li>
							</ul>
						</nav>
						<div class="clearfix"></div>
						<!-- Main Navigation / End -->

					</div>
					<!-- Left Side Content / End -->


					<!-- Right Side Content / End -->
					<div class="right-side">

						<!--  User Notifications -->
						<!--  User Notifications / End -->

						<!-- User Menu -->
						<div class="header-widget">

							<!-- Messages -->
							<div class="header-notifications user-menu">
								<div class="header-notifications-trigger">
									<a href="#"><div class="user-avatar status-online">
											<img src="../../images/user-avatar-small-01.jpg" alt="">
										</div></a>
								</div>

								<!-- Dropdown -->
								<div class="header-notifications-dropdown">

									<!-- User Status -->
									<div class="user-status">

										<!-- User Name / Avatar -->
										<div class="user-details">
											<div class="user-avatar status-online">
												<img src="../../images/user-avatar-small-01.jpg" alt="">
											</div>
											<div class="user-name">
												<h3 style="color: maroon" th:text="${session.adminUserName}"></h3>
												<span>AdminUser</span>
											</div>
										</div>


										
										<!--  
											
								 -->
									</div>

									<ul class="user-menu-small-nav">

										<li><a
											th:href="@{/admin/dashboard/{id}(id=${session.adminId})}"><i
												class="icon-material-outline-dashboard"></i> Dashboard</a></li>

										<li><a th:href="@{/admin/logout}"><i
												class="icon-material-outline-power-settings-new"></i> Logout</a></li>
									</ul>

								</div>
							</div>

						</div>
						<!-- User Menu / End -->

						<!-- Mobile Navigation Button -->
						<span class="mmenu-trigger">
							<button class="hamburger hamburger--collapse" type="button">
								<span class="hamburger-box"> <span
									class="hamburger-inner"></span>
								</span>
							</button>
						</span>

					</div>
					<!-- Right Side Content / End -->

				</div>
			</div>
			<!-- Header / End -->

		</header>
		<div class="clearfix"></div>
		<!-- Header Container / End -->


		<!-- Dashboard Container -->
		<div class="dashboard-container">

				<!-- Dashboard Sidebar
	================================================== -->
			<div class="dashboard-sidebar">
				<div class="dashboard-sidebar-inner" data-simplebar>
					<div class="dashboard-nav-container">

						<!-- Responsive Navigation Trigger -->
						<a href="#" class="dashboard-responsive-nav-trigger"> <span
							class="hamburger hamburger--collapse"> <span
								class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</span> <span class="trigger-title">Dashboard Navigation</span>
						</a>

						<!-- Navigation -->
						<div class="dashboard-nav">
							<div class="dashboard-nav-inner">

								<ul data-submenu-title="Start">
									<li><a
										th:href="@{/admin/dashboard/{id}(id=${session.adminId})}"><i
											class="icon-material-outline-dashboard"></i> Dashboard</a></li>


									<li><a th:href="@{/admin/logout}"><i
											class="icon-material-outline-power-settings-new"></i> Logout</a></li>
								</ul>


							</div>
						</div>
						<!-- Navigation / End -->

					</div>
				</div>
			</div>
			<!-- Dashboard Sidebar / End -->


			<!-- Dashboard Content
	================================================== -->
			<div class="dashboard-content-container" data-simplebar>
				<div class="dashboard-content-inner">

					<!-- Dashboard Headline -->
					<div class="container">
						<div class="row">
							<div class="col-xl-5 offset-xl-3">

								<div class="login-register-page">
									<!-- Welcome Text -->
									<div class="welcome-text">
										<h3 style="font-size: 26px;">Let's create your Company!</h3>

									</div>

									<div>
										<h3>
											<b><span style="color: green" th:text="${message}"></span></b>
										</h3>
									</div>
									<div>
										<h3>
											<b><span style="color: red" th:text="${exist}"></span></b>
										</h3>
									</div>


									<!-- Form -->

									<form action="#" th:action="@{/admin/saveCompany}"
										encType="multipart/form-data" th:object="${company}"
										method="POST">


										<div class="input-with-icon-left">
											<label for="sep">Company Name :</label> <input type="text"
												class="input-text with-border" id="companyName"
												name="companyName" th:value="${companyName}"
												pattern="[A-Z.a-z\s]{1,50}" required="required"
												placeholder="Enter Company Name" th:minlength="4"
												th:maxlength="100">
										</div>

										<div class="input-with-icon-left">

											<label for="sep">Company Address :</label> <input type="text"
												class="input-text with-border" id="address" name="address"
												th:value="${address}" required="required"
												placeholder="Enter Company Address">
										</div>

										<div class="input-with-icon-left">

											<label for="sep">Company Email :</label> <input type="email"
												class="input-text with-border" id="email" name="email"
												th:value="${email}" placeholder="Enter Email "
												pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
												title="form with an email field that that must be in the following order:
characters@characters.domain (characters followed by an @ sign, followed by more characters,
and then (dot) like . After the (dot) like. sign, add at least 2 letters from a to z:"
												required="required">

										</div>
										<!-- <label for="sep">YearOfEstablished :</label> <select
											id="date-dropdown" th:value="${yearOfEstablished}"
											required="required" class="form-control"
											name="yearOfEstablished">
										</select> -->

										<div class="input-with-icon-left">

											<label>YearOfEstablished :</label> <input type="tel"
												th:value="${yearOfEstablished}" id="yearOfEstablished"
												name="yearOfEstablished" pattern="[1|2]{1}\d{3}"
												title="it should be start with 1 or 2 total no of digits should be 4 only"
												placeholder="YearOfEstablished"
												class="form-control mb-14 col-14" required="required" />

										</div>





										<div class="input-with-icon-left">
											<label for="sep">Mobile Number :</label> <input type="tel"
												class="input-text with-border" id="mobileNumber"
												name="mobileNumber" th:field="*{mobileNumber}"
												required="required" th:minlength="10" th:maxlength="10"
												pattern="[6|7|8|9]{1}\d{9}"
												placeholder="Enter Mobile Number">
										</div>


										<div class="input-with-icon-left">

											<label for="sep">Address Latitude :</label> <input
												type="text" class="input-text with-border" id="latitude"
												name="latitude" th:value="${latitude}" required="required"
												Pattern="[\.\d]{1,20}" placeholder="Enter  Address Latitude">
										</div>
										<div class="input-with-icon-left">
											<label>Address Longitude :</label> <input type="text"
												class="input-text with-border" id="longitude"
												name="longitude" th:value="${longitude}" required="required"
												Pattern="[\.\d]{1,20}"
												placeholder="Enter  Address Longitude">
										</div>




										<div class="input-with-icon-left">

											<label for="sep"></label> <input type="hidden"
												class="form-control" id="createdBy" name="createdBy"
												th:value="${session.adminId}" required="required">
										</div>





										<!-- Button -->
										<button
											class="button full-width button-sliding-icon ripple-effect margin-top-10"
											type="submit">
											Save <i class="icon-material-outline-arrow-right-alt"></i>
										</button>
										<!-- <button type="submit" class="btn btn-info col-2">Save</button> -->

									</form>

								</div>

							</div>
						</div>
					</div>




				</div>
				<!-- Row / End -->

				<!-- Footer -->
				<div class="dashboard-footer-spacer"></div>
				<div class="small-footer margin-top-15">
					<div class="small-footer-copyrights">
						© 2022 <strong>360Resourcing</strong>. All Rights Reserved.
					</div>
					
					<div class="clearfix"></div>
				</div>
				<!-- Footer / End -->

			</div>
		</div>
		<!-- Dashboard Content / End -->

	</div>
	<!-- Dashboard Container / End -->
	<!-- Wrapper / End -->


	<!-- Scripts
================================================== -->
	<script src="../js/jquery-3.6.0.min.js"></script>
	<script src="../js/jquery-migrate-3.3.2.min.js"></script>
	<script src="../js/mmenu.min.js"></script>
	<script src="../js/tippy.all.min.js"></script>
	<script src="../js/simplebar.min.js"></script>
	<script src="../js/bootstrap-slider.min.js"></script>
	<script src="../js/bootstrap-select.min.js"></script>
	<script src="../js/snackbar.js"></script>
	<script src="../js/clipboard.min.js"></script>
	<script src="../js/counterup.min.js"></script>
	<script src="../js/magnific-popup.min.js"></script>
	<script src="../js/slick.min.js"></script>
	<script src="../js/custom.js"></script>
	<script src="../js/strongPassword.js"></script>

	<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
	<script>
		// Snackbar for user status switcher
		$('#snackbar-user-status label').click(function() {
			Snackbar.show({
				text : 'Your status has been changed!',
				pos : 'bottom-center',
				showAction : false,
				actionText : "Dismiss",
				duration : 3000,
				textColor : '#fff',
				backgroundColor : '#383838'
			});
		});
	</script>

	<!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
	<script src="../js/chart.min.js"></script>
	<script>
		Chart.defaults.global.defaultFontFamily = "Nunito";
		Chart.defaults.global.defaultFontColor = '#888';
		Chart.defaults.global.defaultFontSize = '14';

		var ctx = document.getElementById('chart').getContext('2d');

		var chart = new Chart(ctx, {
			type : 'line',

			// The data for our dataset
			data : {
				labels : [ "January", "February", "March", "April", "May",
						"June" ],
				// Information about the dataset
				datasets : [ {
					label : "Views",
					backgroundColor : 'rgba(42,65,232,0.08)',
					borderColor : '#2a41e8',
					borderWidth : "3",
					data : [ 196, 132, 215, 362, 210, 252 ],
					pointRadius : 5,
					pointHoverRadius : 5,
					pointHitRadius : 10,
					pointBackgroundColor : "#fff",
					pointHoverBackgroundColor : "#fff",
					pointBorderWidth : "2",
				} ]
			},

			// Configuration options
			options : {

				layout : {
					padding : 10,
				},

				legend : {
					display : false
				},
				title : {
					display : false
				},

				scales : {
					yAxes : [ {
						scaleLabel : {
							display : false
						},
						gridLines : {
							borderDash : [ 6, 10 ],
							color : "#d8d8d8",
							lineWidth : 1,
						},
					} ],
					xAxes : [ {
						scaleLabel : {
							display : false
						},
						gridLines : {
							display : false
						},
					} ],
				},

				tooltips : {
					backgroundColor : '#333',
					titleFontSize : 13,
					titleFontColor : '#fff',
					bodyFontColor : '#fff',
					bodyFontSize : 13,
					displayColors : false,
					xPadding : 10,
					yPadding : 10,
					intersect : false
				}
			},

		});
	</script>


	<!-- Google Autocomplete -->
	<script>
		function initAutocomplete() {
			var options = {
				types : [ '(cities)' ],
			// componentRestrictions: {country: "us"}
			};

			var input = document.getElementById('autocomplete-input');
			var autocomplete = new google.maps.places.Autocomplete(input,
					options);

			if ($('.submit-field')[0]) {
				setTimeout(function() {
					$(".pac-container").prependTo("#autocomplete-container");
				}, 300);
			}
		}
	</script>


	<script type="text/javascript">
		function Buttontoggle() {
			var t = document.getElementById("isActive");
			if (t.value == "Y") {
				t.value = "N";
			} else if (t.value == "N") {
				t.value = "Y";
			}
		}
	</script>
	<!-- Google API -->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initAutocomplete"></script>




	<script>
		let dateDropdown = document.getElementById("date-dropdown");

		let currentYear = new Date().getFullYear();
		let earliestYear = 1970;
		while (currentYear >= earliestYear) {
			let dateOption = document.createElement('option');
			dateOption.text = currentYear;
			dateOption.value = currentYear;
			dateDropdown.add(dateOption);
			currentYear -= 1;
		}
	</script>




</body>
</html>