<!doctype html>
<html lang="en" xmlns:th="https://thymleaf.org">
<head>

<!-- Basic Page Needs
================================================== -->
<title>360Resourcing</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet"  th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/colors/blue.css}">

<!-- eye icon visibility START================= -->
<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous">

<!-- Logo -->
				<!-- <div id="logo">
					<a th:href="#"><img src="../../images/360Logo.jpg" alt=""></a>
				</div> -->



<style>
form i {
margin-left: -30px;
cursor: pointer;
}
</style>
<!-- eye icon visibility END================= -->


</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth">

	<!-- Header -->
	
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Client Registration</h2>

				<!-- Breadcrumbs -->

			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">

					<div class="login-register-page">
						<!-- Welcome Text -->
						<div class="welcome-text">
							<h3 style="font-size: 26px;">Let's create your account!</h3>
							<span>Already have an account? <a
								href="../../client/login">Log In!</a></span>
							<div>
								<h3>
									<b><span style="color: red" th:text="${s1}"></span></b>
								</h3>
							</div>
							<div>
								<h3>
									<b><span style="color: red" th:text="${ClientMessage}"></span></b>
								</h3>
							</div>

						</div>

						<!-- Account Type -->
						<div class="account-type">
							<div>
								<input type="radio" name="account-type-radio"
									id="freelancer-radio" class="account-type-radio" checked /> <label
									for="Client-radio" class="ripple-effect-dark"><i
									class="icon-material-outline-account-circle"></i> Fill Up The Details</label>
							</div>
						</div>

						<!-- Form -->
						<form method="post" id="login-form"
							th:action="@{/client/saveClient}" th:object="${newClientDetails}">


							<div class="input-with-icon-left">
								<i class="icon-material-outline-group"></i> 
								<input type="text"
									class="input-text with-border" name="clientName"
									th:field="*{clientName}" id="clientName"
									pattern="[A-Za-z\s\.]{1,15}"
									placeholder="Client Name" required />
							</div>

							<div class="input-with-icon-left">
								<i class="icon-material-outline-group"></i> <input type="text"
									class="input-text with-border" name="clientCompany"
									th:field="*{clientCompany}" id="clientCompany"
									pattern="[A-Za-z\s\.]{1,30}"
									placeholder="Client Comapny Name" required />
							</div>
							
							<div class="input-with-icon-left">
								<i class="icon-material-outline-group"></i> <input type="text"
									class="input-text with-border" name="companyProfile"
									th:field="*{companyProfile}" id="companyProfile"
									pattern="[A-Za-z\s\.]{1,25}"
									placeholder="Company Profile Link" required />
							</div>

							<div class="input-with-icon-left">
								<i class="icon-material-outline-group"></i> <input type="tel"
									class="with-border" placeholder="Mobile Number"
									name="mobileNumber" pattern="[6|7|8|9]{1}\d{9}"
									th:field="*{mobile}" minlength=10 maxlength=10>
							</div>
							<label> </label>
							<div class="input-with-icon-left">
								<i class="icon-material-baseline-mail-outline"></i> <input
									type="email" class="input-text with-border" name="email"
									id="email" th:value="${email}"
									placeholder="Email Address" required />
							</div>
			

							<div class="input-with-icon-left">
								<i class="bi bi-eye-slash" id="togglePassword"></i> <input
									class="bi bi-eye-slash" id="password" type="password"
									name="password" th:value=${password} placeholder="Password"
									required />
							</div>
							
							<h5>
							Click Here To Get Captcha>>> <img src="../../images/refresh.png"
							width="40px" onclick="cap()">
							</h5>

							<label>Enter Captcha:</label>
							<div class="form-row">
								<div class="form-group col-md-6">
									<input type="text" class="form-control" readonly id="captcha"
										name="captcha" th:value=${captcha}>
								</div>
								<div class="form-group col-md-6">
									<input type="text" class="form-control" id="clientCaptcha"
										name="clientCaptcha" th:value=${clientCaptcha} required />
								</div>
							</div>
					







</form>




<script src="../js/captcha.js"></script>
<script src="../js/show_password.js"></script>

				</form>
				
								<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" form="login-form">Register <i class="icon-material-outline-arrow-right-alt"></i></button>

				<!-- Social Login -->
			</div>

		</div>
	</div>
</div>


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->

<!-- Footer
================================================== -->
<!-- <div id="footer">
	
	Footer Top Section
	<div class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">

					Footer Rows Container
					<div class="footer-rows-container">
						
						Left Side
						<div class="footer-rows-left">
							<div class="footer-row">
								<div class="footer-row-inner footer-logo">
									<img src="C:/Users/Nikhil Gundla/Downloads/logo360.jpg" alt="">
								</div>
							</div>
						</div>
						
						Right Side
						<div class="footer-rows-right">

							Social Icons
							<div class="footer-row">
								<div class="footer-row-inner">
									<ul class="footer-social-links">
										<li>
											<a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-google-plus-g"></i>
											</a>
										</li>
										<li>
											<a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-linkedin-in"></i>
											</a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
							
							Language Switcher
							<div class="footer-row">
								<div class="footer-row-inner">
									<select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5">
										<option selected>English</option>
										<option>Français</option>
										<option>Español</option>
										<option>Deutsch</option>
									</select>
								</div>
							</div>
						</div>

					</div>
					Footer Rows Container / End
				</div>
			</div>
		</div>
	</div>
	Footer Top Section / End

	Footer Middle Section
	<div class="footer-middle-section">
		<div class="container">
			<div class="row">

				Links
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>For Candidates</h3>
						<ul>
							<li><a href="#"><span>Browse Jobs</span></a></li>
							<li><a href="#"><span>Add Resume</span></a></li>
							<li><a href="#"><span>Job Alerts</span></a></li>
							<li><a href="#"><span>My Bookmarks</span></a></li>
						</ul>
					</div>
				</div>

				Links
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>For Employers</h3>
						<ul>
							<li><a href="#"><span>Browse Candidates</span></a></li>
							<li><a href="#"><span>Post a Job</span></a></li>
							<li><a href="#"><span>Post a Task</span></a></li>
							<li><a href="#"><span>Plans & Pricing</span></a></li>
						</ul>
					</div>
				</div>

				Links
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Helpful Links</h3>
						<ul>
							<li><a href="#"><span>Contact</span></a></li>
							<li><a href="#"><span>Privacy Policy</span></a></li>
							<li><a href="#"><span>Terms of Use</span></a></li>
						</ul>
					</div>
				</div>

				Links
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Account</h3>
						<ul>
							<li><a href="#"><span>Log In</span></a></li>
							<li><a href="#"><span>My Account</span></a></li>
						</ul>
					</div>
				</div>

				Newsletter
				<div class="col-xl-4 col-lg-4 col-md-12">
					<h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
					<p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
					<form action="#" method="get" class="newsletter">
						<input type="text" name="fname" placeholder="Enter your email address">
						<button type="submit"><i class="icon-feather-arrow-right"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	Footer Middle Section / End
	
	Footer Copyrights
	<div class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					© 2022 <strong>360Resourcing</strong>. All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
	Footer Copyrights / End

</div> -->
<!-- Footer / End -->

</div>
<!-- Wrapper / End -->

<!-- Scripts
================================================== -->
<script src="@{js/jquery-3.6.0.min.js}"></script>
<script src="@{js/jquery-migrate-3.3.2.min.js}"></script>
<script src="@{js/mmenu.min.js}"></script>
<script src="@{js/tippy.all.min.js}"></script>
<script src="@{js/simplebar.min.js}"></script>
<script src="@{js/bootstrap-slider.min.js}"></script>
<script src="@{js/bootstrap-select.min.js}"></script>
<script src="@{js/snackbar.js}"></script>
<script src="@{js/clipboard.min.js}"></script>
<script src="@{js/counterup.min.js}"></script>
<script src="@{js/magnific-popup.min.js}"></script>
<script src="@{js/slick.min.js}"></script>
<script src="@{js/custom.js}"></script>
<script src="@{js/strongPassword.js}"></script>
<script src="@{https://code.iconify.design/2/2.2.1/iconify.min.js}"></script>
<script src="@{js/show_password.js}"></script>
<script src="@{js/captcha.js}"></script>


<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() { 
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
}); 
</script>

<script>
var myInput = document.getElementById("psw");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");



// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
document.getElementById("message").style.display = "block";
}



// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
document.getElementById("message").style.display = "none";
}



// When the user starts to type something inside the password field
myInput.onkeyup = function() {
// Validate lowercase letters
var lowerCaseLetters = /[a-z]/g;
if(myInput.value.match(lowerCaseLetters)) {
letter.classList.remove("invalid");
letter.classList.add("valid");
} else {
letter.classList.remove("valid");
letter.classList.add("invalid");
}

// Validate capital letters
var upperCaseLetters = /[A-Z]/g;
if(myInput.value.match(upperCaseLetters)) {
capital.classList.remove("invalid");
capital.classList.add("valid");
} else {
capital.classList.remove("valid");
capital.classList.add("invalid");
}



// Validate numbers
var numbers = /[0-9]/g;
if(myInput.value.match(numbers)) {
number.classList.remove("invalid");
number.classList.add("valid");
} else {
number.classList.remove("valid");
number.classList.add("invalid");
}

// Validate length
if(myInput.value.length >= 8) {
length.classList.remove("invalid");
length.classList.add("valid");
} else {
length.classList.remove("valid");
length.classList.add("invalid");
}
}
</script>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
crossorigin="anonymous"></script>
</html>