<!-- /*  -->
<!--  * Author : Srivani Tudi*/ -->


<!doctype html>
<html lang="en" xmlns:th="https://thymleaf.org">
<head>

<!-- Basic Page Needs
================================================== -->
<title>360Resourcing</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/colors/blue.css">

</head>
<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header Container
================================================== -->
		<header id="header-container" class="fullwidth">

			<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Left Side Content -->
					<div class="left-side">

						<!-- Logo -->
						<div id="logo">
							<a href="#"><img src="/../../images/logo360.jpg" alt=""></a>
						</div>

						<!-- Main Navigation -->
						<nav id="navigation"></nav>
						<!-- Main Navigation / End -->

					</div>
					<!-- Left Side Content / End -->


					<!-- Right Side Content / End -->
					<div class="right-side">

						<!--  User Notifications -->
						<div class="header-widget hide-on-mobile">

							<!-- Notifications -->
							<div class="header-notifications">

								<!-- Trigger -->
								<!-- Dropdown -->
								<div class="header-notifications-dropdown"></div>

							</div>

							<!-- Messages -->

						</div>
						<!--  User Notifications / End -->

						<!-- User Menu -->
						<div class="header-widget">

							<!-- Messages -->


						</div>
						<!-- User Menu / End -->

						<!-- Mobile Navigation Button -->

					</div>
					<!-- Right Side Content / End -->

				</div>
			</div>
			<!-- Header / End -->

		</header>
		<div class="clearfix"></div>
		<!-- Header Container / End -->

		<!-- Titlebar
================================================== -->
		<div id="titlebar" class="gradient">
			<div class="container">
				<div class="row">
					<div class="col-md-12"></div>
				</div>
			</div>
		</div>


		<!-- Page Content
================================================== -->
		<div class="container">
			<div class="row">
				<div class="col-xl-5 offset-xl-3">


					<div class="login-register-page">
						<!-- Welcome Text -->
						<div class="welcome-text">
							<h3>Employee Login!</h3>
						</div>
						<div>
							<h4>
								<span style="color: red" th:text="${errorMessage}"></span> <span
									style="color: green" th:text="${passwordUdatedMessage}"></span>

							</h4>
						</div>

						<!-- Form -->
						<form method="post" id="login-form"
							th:action="@{/emp/employeeValidation}"
							th:object="${newUserDetails}">
							<div class="input-with-icon-left">
								<i class="icon-material-baseline-mail-outline"></i> <input
									type="email" class="input-text with-border" name="emailaddress"
									th:field="*{emailId}" id="emailaddress"
									placeholder="Email Address"
									pattern="[a-z0-9._%+-]+@[a-z]+\.[a-z]{2,}$"
									title="please enter valid email[a-z]/[0-9]@[a-z]" minlength="7"
									maxlength="30" required />
							</div>


							<div class="input-with-icon-left">
							<i class="bi bi-eye-slash" id="togglePassword"></i> <input
									type="password" class="input-text with-border" name="password"
									id="password" th:value="${password}" placeholder="Password"
									pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
									title="at least one number,one uppercase and lowercase and at least minimum length=6"
									minlength="6" maxlength="25" required />
							</div>

							<a th:href="@{employeeForgotPassword}" class="forgot-password">Forgot
								Password?</a>
						</form>

						<!-- Button -->
						<button
							class="button full-width button-sliding-icon ripple-effect margin-top-10"
							type="submit" form="login-form">
							Log In <i class="icon-material-outline-arrow-right-alt"></i>
						</button>

					</div>

				</div>
			</div>
		</div>


		<!-- Spacer -->
		<div class="margin-top-70"></div>
		<!-- Spacer / End-->

		<!-- Footer
================================================== -->
	<div id="footer">

		<!-- Footer Top Section -->
		<div class="footer-top-section">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">

						<!-- Footer Rows Container -->
						<div class="footer-rows-container">

							<!-- Left Side -->
							<div class="footer-rows-left">
								<div class="footer-row">
									<div class="footer-row-inner footer-logo">
										<img src="/images/360Logo.jpg" alt="">
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>


			<!-- Footer Copyrights -->
			<div class="footer-bottom-section">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
						<strong>360Resourcing</strong>. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Copyrights / End -->

		</div>
		<!-- Footer / End -->

	</div>
		<!-- Footer / End -->

	</div>
	<!-- Wrapper / End -->

	<!-- Scripts
================================================== -->
	<script th:href="@{/js/jquery-3.6.0.min.js}"></script>
	<script th:href="@{/js/jquery-migrate-3.3.2.min.js}"></script>
	<script th:href="@{/js/mmenu.min.js}"></script>
	<script th:href="@{/validation.js}"></script>
	<script th:href="@{/js/simplebar.min.js}"></script>
	<script th:href="@{/js/bootstrap-slider.min.js}"></script>
	<script th:href="@{/js/bootstrap-select.min.js}"></script>
	<script th:href="@{/js/snackbar.js}"></script>
	<script th:href="@{/js/captcha.js}"></script>
	<script th:href="@{/js/counterup.min.js}"></script>
	<script th:href="@{/js/magnific-popup.min.js}"></script>
	<script th:href="@{/js/slick.min.js}"></script>
	<script th:href="@{/js/custom.js}"></script>
	<script src="/../../js/strong_password.js"></script>
	<script src="/../../js/show_password.js"></script>



	<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
	<script
		src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js'></script>
	<script src="./script.js"></script>


	<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
	<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() { 
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
}); 
</script>
<script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            
            // toggle the icon
            this.classList.toggle("bi-eye");
        });

        // prevent form submit
        const form = document.querySelector("form");
        form.addEventListener('submit', function (e) {
            e.preventDefault();
        });
    </script>







</body>
</html>