
<!-- ============================= -->

<!-- 	Author: Praveen Gudimalla -->

<!--  ==============================-->

<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>360 Resourcing</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<script src='https://kit.fontawesome.com/a076d05399.js'
	crossorigin='anonymous'></script>

<!-- CSS
================================================== -->
<link rel="stylesheet" href="../../../css/style.css">
<link rel="stylesheet" href="../../../css/colors/blue.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="gray">

	<!-- Wrapper -->
	<div id="wrapper">


	<!-- Header Container
================================================== -->
		<header id="header-container"
			class="fullwidth dashboard-header not-sticky">

			<!-- Header -->
			<div id="header">
				<div class="container">
					<!-- Left Side Content -->
					<div class="left-side">
						<!-- Logo -->
						<div id="logo">
							<a href="#"><img src="/../../images/logo360.jpg" alt=""></a>
						</div>
						<!-- Main Navigation -->
						<nav id="navigation">
							<ul id="responsive">
								<li><a href="#">Manage Candidates</a>
									<ul class="dropdown-nav">
										<li><a
											th:href="@{/emp/candidateList/{employeeId}(employeeId=${session.employeeObj.employeeId})}">
												Candidate List assigned to you</a></li>
										<li><a th:href="@{/emp/candidateList}"> all Candidate
												List</a></li>

									</ul></li>
								<li><a href="#">View Interviewers</a>
									<ul class="dropdown-nav">
										<li><a th:href="@{/emp/interviewersList}"> all
												Interviewers List</a></li>
									</ul></li>
								<li><a href="#">View Clients</a>
									<ul class="dropdown-nav">
										<li><a
											th:href="@{/emp/employeeClients}">My
												client List</a></li>
									</ul></li>

								<li><a href="#">Schedule Interviews</a>
									<ul class="dropdown-nav">
										<li><a th:href="@{/scheduleList}">Schedule List</a></li>
										<li><a
											th:href="@{/emp/feedbackList/{id}(id=${session.employeeObj.employeeId})}">Feedback
												List</a></li>
										<li><a
											th:href="@{/emp/reScheduleList/{id}(id=${session.employeeObj.employeeId})}">ReSchedule</a></li>
										<li><a th:href="@{/emp/finalFeedbackList}">Result</a></li>



									</ul></li>
							</ul>
							<ul>
								<li><a href="#">Manage skills</a>
									<ul class="dropdown-nav">
										<li><a
											th:href="@{/emp/addSkillByManager/{id}(id=${session.employeeObj.employeeId})}">Adding
												Skills</a></li>

										<li><a
											th:href="@{/emp/skillListByManager/{id}(id=${session.employeeObj.employeeId})}">Skills
												List Added by Recruiter</a></li>

									</ul></li>
							</ul>
						</nav>
					</div>
					<div class="clearfix"></div>
					<!-- Main Navigation / End -->
					<!-- Left Side Content / End -->
					<!-- Right Side Content -->
					<div class="right-side">
						<!--  User Notifications -->
						<!--  User Notifications / End -->
						<!-- User Menu -->
						<div class="header-widget">
							<!-- Messages -->
							<div class="header-notifications user-menu">
								<div class="header-notifications-trigger">
									<a href="#"><div class="user-avatar status-online">
											<img src="/../../images/user-avatar-small-01.jpg" alt="">
										</div></a>
								</div>
								<!-- Dropdown -->
								<div class="header-notifications-dropdown">
									<!-- User Status -->
									<div class="user-status">
										<!-- User Name / Avatar -->
										<div class="user-details">
											<div class="user-avatar status-online">
												<img src="/../../images/user-avatar-small-01.jpg" alt="">
											</div>
											<div class="user-name">
												<h3 style="color: maroon"
													th:text="${session.employeeObj.employeeName}"></h3>
												<h4 style="color: green"
													th:text="${session.employeeObj.employeeRole}"></h4>
											</div>
											<!-- User Status Switcher -->
										</div>
									</div>
									<ul class="user-menu-small-nav">
										<li><a th:href="@{/emp/employeeDashboard}"><i
												class="icon-material-outline-dashboard"></i>DashBoard</a></li>
										<li><a
											th:href="@{/emp/employeeDasboardSettings/{id}(id=${session.employeeObj.employeeId})}"><i
												class="icon-material-outline-settings"></i> Settings</a></li>
										<li><a th:href="@{/emp/employeeLogout}"><i
												class="icon-material-outline-power-settings-new"></i> Logout</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- User Menu / End -->
						<!-- Mobile Navigation Button -->
						<span class="mmenu-trigger">
							<button class="hamburger hamburger--collapse" type="button">
								<span class="hamburger-box"> <span
									class="hamburger-inner"></span>
								</span>
							</button>
						</span>
					</div>
					<!-- Right Side Content / End -->
				</div>
			</div>
			<!-- Header / End -->
		</header>
		<div class="clearfix"></div>
		<!-- Header Container / End -->
		<!-- Dashboard Container -->
		<div class="dashboard-container">
			<!-- Dashboard Sidebar
	================================================== -->
			<div class="dashboard-sidebar">
				<div class="dashboard-sidebar-inner" data-simplebar>
					<div class="dashboard-nav-container">

						<!-- Responsive Navigation Trigger -->
						<a href="#" class="dashboard-responsive-nav-trigger"> <span
							class="hamburger hamburger--collapse"> <span
								class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</span> <span class="trigger-title">Dashboard Navigation</span>
						</a>

						<!-- Navigation -->
						<div class="dashboard-nav">
							<div class="dashboard-nav-inner">





								<!-- 			Education && Experiendce Started  ===============
================================================================ -->
								<ul data-submenu-title="Education and Experience">
									<li class="active"><a
										th:href="@{/emp/candidate/educationList/{candidateId}(candidateId=${candidate.candidateId})}"><i
											class="icon-material-outline-settings"></i>CandidateEducationDetails</a></li>
									<li class="active"><a
										th:href="@{/emp/candidate/employmentList/{candidateId}(candidateId=${candidate.candidateId})}"><i
											class="icon-material-outline-settings"></i>CandidateExperienceDetails
									</a></li>
									<li class="active"><a
										th:href="@{/emp/candidate/docList/{candidateId}(candidateId=${candidate.candidateId})}">Candidate
											Documents<i class="icon-material-outline-settings"></i>
									</a></li>
									<li class="active"><a
										th:href="@{/emp/candidate/dashboardSettings/{id}(id=${candidate.candidateId})}">Candidate
											DetailsPage<i class="icon-material-outline-settings"></i>
									</a></li>
								</ul>

								<!-- 			Education && Experiendce Ended  ============================
============================================================================ -->



							</div>
						</div>
						<!-- Navigation / End -->

					</div>
				</div>
			</div>
			<!-- Dashboard Sidebar / End -->


			<!-- Dashboard Content
	================================================== -->
			<div class="dashboard-content-container" data-simplebar>
				<div class="dashboard-content-inner">

					<!-- Table
================================================== -->
					<!-- Container -->
					<div class="container-sm bg-info">
<!-- 						<div class="row row-cols-sm-auto"> -->

									<div class="dashboard-box margin-top-0" style="width: 110%">

						<!-- Headline -->
						<div class="headline">
							<h3>
								<i class="icon-material-outline-business-center"></i> Candidate Experience Details
							</h3>
						</div>
						<div align="center" style="width: 100%">

							<link rel="stylesheet"
								href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
								integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
								crossorigin="anonymous">


							<table class="basic-table" id="candidateTable"
								style="width: 100%">
									<thead>
										<tr>

											<th>Development tools</th>
											<th>Organisation</th>
											<th>fromDate</th>
											<th>toDate</th>
											<th>CTC(lpa)</th>
											<th>YearsOfExperience</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="obj:${employmentList}">

											<td th:text="${obj.tool}"></td>
											<td th:text="${obj.organisation}"></td>
											<td th:text="${obj.fromDate}"></td>
											<td th:text="${obj.toDate}"></td>
											<td th:text="${obj.lpa}"></td>
											<td th:text="${obj.yearOfExperience}"></td>

										</tr>

									</tbody>
								</table>
							</div>
						</div>
<!-- 					</div> -->
					<!-- Container / End -->

					<!-- Dashboard Headline -->
					<div class="dashboard-headline">
						<!-- Footer -->
						<div class="dashboard-footer-spacer"></div>
						<div class="small-footer margin-top-15">
							<div class="small-footer-copyrights">
							<strong>360 Resourcing</strong>. All Rights Reserved.
							</div>

						</div>
						<!-- Footer / End -->


					</div>
				</div>

			</div>
			<!-- Wrapper / End -->

			<!-- Scripts
================================================== -->
			<script src="../../../js/jquery-3.6.0.min.js"></script>
			<script src="../../../js/jquery-migrate-3.3.2.min.js"></script>
			<script src="../../../js/mmenu.min.js"></script>
			<script src="../../../js/tippy.all.min.js"></script>
			<script src="../../../js/simplebar.min.js"></script>
			<script src="../../../js/bootstrap-slider.min.js"></script>
			<script src="../../../js/bootstrap-select.min.js"></script>
			<script src="../../../js/snackbar.js"></script>
			<script src="../../../js/clipboard.min.js"></script>
			<script src="../../../js/counterup.min.js"></script>
			<script src="../../../js/magnific-popup.min.js"></script>
			<script src="../../../js/slick.min.js"></script>
			<script src="../../../js/custom.js"></script>
			<script src="../../../js/educationListDropDown.js"></script>
			<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
	<script>
		$(document).ready(function() {
			var table = $('#candidateTable').DataTable({
				"sAjaxDataProp" : ""
			})
		});
	</script>
			

			<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
			<script>
			// Snackbar for user status switcher
			$('#snackbar-user-status label').click(function() {
				Snackbar.show({
					text : 'Your status has been changed!',
					pos : 'bottom-center',
					showAction : false,
					actionText : "Dismiss",
					duration : 3000,
					textColor : '#fff',
					backgroundColor : '#383838'
				});
			});
		</script>
</body>
</html>