<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>360Resourcing</title>
<style>
.blink {
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {to { visibility:hidden;
	
}

}
@-webkit-keyframes blink-animation {to { visibility:hidden;
	
}

}
.box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 500px;
}

.h1 {
	display: block;
}
</style>

</head>
<body>


	<div class="box"
		style="justify-content: center;
	/*this centers the text vertically*/ align-items: center; height:auto; color: #fff; font-size: xx-large; font-weight: bold; background-color: aqua;">
		<h2>
			something went wrong!!!<span style="color: blue;"
				th:text="${message}"></span>
		</h2>
		<h1>
			<a href="/resourcing"><span class="blink" style="background-color: yellow; text-decoration: underline;">
					Home page</span></a>
		</h1>
	</div>


	<!--  <h2>
        <span th:text="${candidateDashboard}"></span> <a
            th:href="@{/candidate/dashboard/{id}(id=${session.candidateObj.candidateId})}"><i
            class="icon-material-outline-settings"></i>Candidate DashBoard</a>
    </h2>
    <h2>
        <span th:text="${interviewerDashboard}"> <a
            th:href="@{/dashboard.html/{id}(id=${session.interviewerId})}"><i
                class="icon-material-outline-dashboard"></i>Interviewer DashBoard</a></span>
    </h2>
    <h2>
        <span th:text="${userDashboard}"></span> <a
            th:href="@{/user/userDashboard}"><i
            class="icon-material-outline-dashboard"></i> User DashBoard</a>
    </h2>
    <h2>
        <span th:text="${employeeDashboard}"></span> <a
            th:href="@{/emp/employeeDashboard}"><i
            class="icon-material-outline-dashboard"></i>EmployeeDashBoard</a>
    </h2>



   <h2>
        <span th:text="${adminDashboard}"></span> <a
            th:href="@{/admin/dashboard/{id}(id=${session.adminId})}"><i
            class="icon-material-outline-dashboard"></i>Admin DashBoard</a>
    </h2>
 -->

</body>

</html>

